
/* .categories{
    border: #d5d5d5 solid 1px;
    border-radius: 10px;
    padding: 30px;
    background-color: #609090;
}

.categories h2{
    font-size: 20px;
    color: white;
} */


/* .item-category{
    cursor: pointer;
}

.item-category:hover{
    background-color: #559684;
} */

/* .item-category a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
} */

/* .item-category a:hover{
    color: black
} */


/* .listGroup{
    width: 200px;
}

.itemCategory{
    height: 40px;
    padding: 5px;
    border: solid 2px;
    list-style: none;
    width: 100%;

} */
